

<!-- search bar -->
<div class="container search-bar">
  <!-- alert  -->

  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search" class="search-form w-100">

        <div class="input-group">
          <input type="text" name="keyword" class="form-control search-input" placeholder="搜尋餐廳名稱" aria-label="Restaurant Name..."
            value="{{input}}" aria-describedby="search-button">

          <div class="input-group-append">

            <div class="btn-group">

                <select name="filter" class="btn btn-major search-option">
                  <option class="bg-white text-black" value="name">依餐廳名稱</option>
                  <option class="bg-white text-black" value="location">依地區</option>
                  <option class="bg-white text-black" value="category">依類別</option>
                </select>
               
                <button class="btn btn-major" type="submit" id="search-button">
                  <i class="fas fa-search"></i>
                </button>

            </div>
            
          </div> 
          
        </div>
      </form>

    {{#if isNotFind}}
    <div class="alert alert-warning alert-dismissible fade show mb-2" role="alert">
      <span>抱歉！找不到<strong>「{{searchKeyword}}」</strong>的搜尋結果</span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {{/if}}
  </div>
</div>
</div>

<!-- restaurant list -->

<div class="container mt-5">

  <div class="info-bar d-flex justyfy-content-between mb-3">
       <div class="dropdown ml-auto">
        <button class="btn btn-major dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
          {{{ sortIcon }}}
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="./?sort-by=name&order=1"><i class="fas fa-sort-alpha-down mr-1"></i>照名稱排列（A > Z）</a>
          <a class="dropdown-item" href="/?sort-by=name&order=-1"><i class="fas fa-sort-alpha-up mr-1"></i>照名稱排列（Z > A）</a>
          <a class="dropdown-item" href="/?sort-by=category"><i class="fas fa-utensils mr-1"></i>照類別</a>
          <a class="dropdown-item" href="/?sort-by=location"><i class="fas fa-map-marker-alt mr-1"></i>照地區</a>
          <a class="dropdown-item" href="/?sort-by=rating&order=1"><i class="fas fa-sort-numeric-down mr-1"></i>照評等排列（小 > 大）</a>
          <a class="dropdown-item" href="/?sort-by=rating&order=-1"><i class="fas fa-sort-numeric-up mr-1"></i>照評等排列（大 > 小）</a>
        </div>
      </div>
    </div>

  <div class="row">

        {{#each restaurants}}
        <div class="col-sm-6 col-md-4">
          <a href="/restaurants/{{this._id}}">
          <div class="card mb-3">
            
            <div class="card-img__container"><img class="card-img-top" src=" {{this.image}}" alt="{{this.name}}"></div>

            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{this.name}}</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils "></i> {{this.category}}
              </div>

              <div class="d-flex">
                <span class="badge badge-pill badge-danger font-weight-normal">
                  {{this.rating}}
                  <i class="fas fa-star fa-xs"></i>
                </span>
                
                <div class="btn-group ml-auto">
                  <a class="btn btn-info rounded-left" href="/restaurants/{{this._id}}/edit-page">編輯</a>
                  <button type="button" class="btn btn-danger delete-btn" data-toggle="modal" data-target="#deleteModal" data-id="{{ this._id }}">
                    刪除
                  </button>
                </div>

            </div>
            </div>
          </div>
          </a>
        </div>
        {{/each}}

      
    
  </div>

  <div class="modal fade" tabindex="-1" role="dialog" id="deleteModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
     
      <div class="modal-body">
        <p>確定要刪除嗎？</p>
      </div>

      <div class="modal-footer">
        <form action="" method="POST" style="display: inline;">
          <button class="btn btn-danger" type="submit">刪除</button>
        </form>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>

  <div class="modal fade" tabindex="-1" role="dialog" id="alertModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
     
      <div class="modal-body">
        <p>搜尋欄不可為空</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">好，我答應不會亂玩網站</button>
      </div>
    </div>
  </div>
</div>


</div>

<script>
 const searchInput = document.querySelector('.search-input')
 const searchForm = document.querySelector('.search-form')
 const searchOption = document.querySelector('.search-option')
 const modalAlert = document.querySelector('.modal-footer form')
 const deleteBtn = document.querySelectorAll('.delete-btn')

searchOption.addEventListener('change', e => {
    switch(e.target.value) {
      case 'name':
          searchInput.placeholder = "搜尋餐廳名稱"
          break
      case 'location':
          searchInput.placeholder = "搜尋餐廳地點"
          break
      case 'category':
          searchInput.placeholder = "搜尋餐廳類別"
          break
    }
  })


deleteBtn.forEach(btn => {
  btn.addEventListener('click', e => {
  const id = e.target.dataset.id
  modalAlert.action = `./restaurants/${id}?_method=DELETE`
})
})

searchForm.addEventListener('submit', e => {
  if (searchInput.value.trim().length === 0) {
    e.preventDefault()
    e.stopPropagation()
    $('#alertModal').modal('show')
  }
})


</script>

<style>
  select {
     font-family: "Font Awesome 5 Free";
  }

    .icon::before {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }

  .sort-icon::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f007";
  }
</style>